<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'store/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-7">
                    <img src="/static/store/img/logo.png" alt="snowboard">Welcome, {{request.session.first_name}}
                </div>
                <div class="col-5">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/messages">Messages</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" href="/store">Home </a>
                                    </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/cart">Cart</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/my_listings">My Listings</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div id="second-row" class="row">
            <div id="navigation" class="col-3">
                <div class="col">
                    <p></p>
                    <a href="/add_item" class="myButton ">Add Item</a>
                    <p></p>
                </div>
                <div class="col">

                    <a href="/snowboards"> <img class="nav-picture" src="/static/store/img/snowboard.png" height=110px
                            width=110px alt="snowboard"></a>
                    <p class="white">Snowboards</p>
                </div>
                <div class="col">

                    <a href="/skiis"> <img class="nav-picture" src="/static/store/img/skiis.png" height=110px
                            width=110px alt="skiis"></a>
                    <p class="white">Skiis</p>
                </div>

                <div class="col">

                    <a href="/boots"> <img class="nav-picture" src="/static/store/img/boot.png" height=110px width=110px
                            alt="snowboard"></a>
                    <p class="white">Boots</p>
                </div>
                <div class="col">
                    <a href="/bindings"> <img class="nav-picture" src="/static/store/img/binding.png" height=110px
                            width=110px alt="snowboard"></a>
                    <p class="white">Bindings</p>
                </div>
                <div class="col">
                        <a href="/apparel"> <img class="nav-picture" src="/static/store/img/jacket.png" height=110px
                                width=110px alt="apparel"></a>
                        <p class="white">Apparel</p>
                    </div>
            </div>
            <div id="main" class="col-9">
                <h3 class="middle">Snowboards</h3>
                <hr>
                {% for item in items %}

                <div class="row">
                    <div class="col-sm">
                        <img src="/media/{{item.image_one}}" alt="item">
                    </div>
                    <div class="col-sm">
                        <p>Make: {{item.make}}</p>
                        <p>Model: {{item.model}}</p>
                        <p>Size: {{item.size}}</p>
                        <p>Price: ${{item.price}}</p>
                        <p>Added By: {{item.added_by.first_name}} {{item.added_by.last_name}}</p>
                        <button class="btn btn-secondary">Add to Cart</button>
                    </div>
                    <div class="col-sm">
                        Description: {{item.desc}}
                    </div>
                </div>
                <hr>

                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>